@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.navbar div.mr-auto.p-2 {
  width: 70%;
}
.navbar {
  @include mix.area(inherit, inherit, inherit, vars.$spacing-micro-x, 0, inherit, vars.$color-gray);
  // margin: 0 vars.$width-small;
  z-index: 3;
  flex-grow: 1;
  margin-left: 250px;

  &__search {
    @include mix.borderedArea(0, vars.$color-gray-light, vars.$spacing-xxx-atomic);
    @include mix.area(
      inherit,
      inherit,
      inherit,
      vars.$spacing-atomic-increased,
      vars.$spacing-xxx-atomic,
      0,
      vars.$color-gray-light
    );
    // margin: 0 vars.$spacing-xx-atomic;
    color: vars.$color-silver;
    display: inline-block;
    width: 100%;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
    &:focus {
      outline: none;
    }

    &__list {
      display: none;
      width: vars.$width-large;
      margin: vars.$spacing-x-micro 0 0 vars.$spacing-xx-atomic;
      &__item {
        background-color: vars.$color-gray-light;
        color: vars.$color-silver;
        &__icon {
          margin-left: vars.$spacing-large-increased-xx;
        }
      }
    }
  }

  &__username {
    background-color: vars.$color-gray-dark;
    border-radius: vars.$spacing-xxx-small;
    color: vars.$color-white;
    padding: vars.$spacing-xxx-atomic vars.$spacing-xx-atomic;
  }

  &__icon {
    margin-left: vars.$spacing-x-atomic;
    color: vars.$color-silver;
    cursor: pointer;

    &:hover {
      color: vars.$color-neon-blue;
    }
  }

  &__usericon {
    display: none;
  }

  &__loginbtn {
    color: vars.$color-neon-blue;
    &:hover {
      color: vars.$color-neon-blue;
    }
  }

  &__signbtn {
    background-color: vars.$color-neon-blue;
    padding: vars.$spacing-xxx-atomic vars.$spacing-xxx-atomic;
    color: vars.$color-white;
    border-radius: 0%;
  }
  &__menubar {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    margin-left: 0;
    &__menubar {
      display: inline-block !important;
    }
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    margin-left: 0;
    &__menubar {
      display: inline-block !important;
    }
  }
}

@media screen and (max-width: 510px) {
  .navbar {
    margin-left: 0;
    &__menubar {
      display: inline-block !important;
    }
  }
}

.hide {
  display: none;
}

.focused {
  display: inline-block;
}

.MuiPaper-root {
  box-shadow: none !important;
  background-color: vars.$color-gray-dark !important;
}
