@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

// .cards {
//   margin: vars.$spacing-atomic-x;
// }
.schedule__card {
  @include mix.area(flex, relative, 100%, vars.$scheduler-card-height, 0, vars.$spacing-xx-atomic, vars.$color-gray);
  color: vars.$color-white;

  &:hover {
    background-color: vars.$color-gray-light;
  }

  &__img {
    height: vars.$scheduler-card-height;
    width: 100%;
    background-size: cover;
  }

  &__eposide {
    // @include mix.area(inline-block, absolute, auto, vars.$spacing-atomic-xx, 0, 0, vars.$color-gray-light);
    //left:  calc();// vars.$scheduler-card-episode-left;
    top: vars.$scheduler-card-episode-top;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 40px;
    bottom: 0;
    position: absolute;
    margin: 0;
  }
  &__eposide span {
    @include mix.area(inline-block, static, auto, 40px, 10px, 0, vars.$color-gray-light);
    border-radius: vars.$spacing-xx-atomic;
  }

  &__date {
    @include mix.text(vars.$color-neon-blue, vars.$text-size-atomic-x, vars.$text-weight-bold, vars.$spacing-xx-atomic);
  }

  &__text {
    margin-top: vars.$spacing-xxx-large;
    &:hover {
      color: vars.$color-white;
    }
    font-weight: bold;
  }

  &__synopsis {
    @include mix.text(vars.$color-silver, vars.$text-size-atomic-x, vars.$text-weight-light, vars.$spacing-xx-atomic);
  }
}

.card-body {
  padding: vars.$spacing-xxx-atomic;
}
a:hover {
  color: vars.$color-white;
}
.schedule__card__col {
  position: relative;
}
// @media screen and (max-width: 1000px) {
//   .cards {
//     margin: 0 vars.$spacing-x-small;
//   }
// }

// @media screen and (max-width: 700px) {
//   .cards {
//     margin: 0;
//   }
// }
