@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.cards {
  margin: vars.$spacing-atomic-x;
  //margin-left: vars.$spacing-atomic-x;
}
.seemore__card {
  @include mix.area(
    flex,
    relative,
    vars.$width-medium,
    vars.$spacing-large-increased,
    vars.$spacing-x-atomic,
    vars.$spacing-xxx-atomic,
    vars.$color-gray-light
  );
  color: vars.$color-white;

  &__img {
    height: 100%;
    width: 100%;
    max-height: vars.$spacing-xx-large;
  }

  &__text {
    margin-top: vars.$spacing-xxx-large;
  }
}

@media screen and (max-width: 1000px) {
  .cards {
    margin: 0 vars.$spacing-x-small;
  }
}

@media screen and (max-width: 700px) {
  .cards {
    margin: 0;
  }
}
