@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

// .cards {
//   margin: 0 vars.$spacing-atomic-x;
// }
.seemore__card {
  @include mix.area(
    flex,
    relative,
    vars.$width-medium,
    vars.$spacing-large-increased,
    0,
    vars.$spacing-xx-atomic,
    vars.$color-gray-light
  );
  color: vars.$color-white;

  &__img {
    height: 160px;
    width: 100%;
  }

  &__text {
    margin-top: vars.$spacing-xxx-large;
  }
}

// @media screen and (max-width: 1000px) {
//   .cards {
//     margin: 0 vars.$spacing-atomic-x 0 vars.$spacing-x-small;
//   }
// }

// @media screen and (max-width: 700px) {
//   .cards {
//     margin: 0;
//   }
// }
