@mixin text($color, $size, $weight, $lineHeight) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $lineHeight;
}

@mixin area($display, $position, $width, $height, $padding, $margin, $backgroundColor) {
  display: $display;
  position: $position;
  width: $width;
  height: $height;
  padding: $padding;
  margin: $margin;
  background-color: $backgroundColor;
}

@mixin borderedArea($borderThickness, $borderColor, $borderRadius) {
  border: $borderThickness solid $borderColor;
  border-radius: $borderRadius;
}

@mixin flexArea($direction, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin divider($color, $width, $height: 1px) {
  border-top: $height solid $color;
  width: $width;
}
