@mixin text($color, $size, $weight, $lineHeight) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $lineHeight;
}

@mixin area($display, $position, $width, $height, $padding, $margin, $backgroundColor) {
  display: $display;
  position: $position;
  width: $width;
  height: $height;
  padding: $padding;
  margin: $margin;
  background-color: $backgroundColor;
}

@mixin borderedArea($borderThickness, $borderColor, $borderRadius) {
  border: $borderThickness solid $borderColor;
  border-radius: $borderRadius;
}

@mixin flexArea($direction, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin gridArea($direction, $gap, $autoColumns, $templateRows, $templateColumns) {
  display: grid;
  grid-gap: $gap;
  grid-auto-flow: $direction;
  grid-auto-columns: $autoColumns;
  grid-template-rows: minmax($templateRows, 1fr);
  grid-template-columns: $templateColumns;
}

@mixin divider($height: 1px, $color, $width) {
  border-top: $height solid $color;
  width: $width;
}

@mixin mainContent($marginLeft, $paddingTop, $backgroundColor, $smallMargin) {
  margin-left: $marginLeft;
  padding-top: $paddingTop;
  background-color: $backgroundColor;
  height: 100%;
  min-height: 100vh;
  @media screen and (max-width: 1000px) {
    margin: 0 0 0 $smallMargin;
  }
  @media screen and (max-width: 700px) {
    margin: 0;
  }
}
