// this is a resetting to the styling of whole site, it shouldn't be readable

* {
  font-family: 'Fira Code';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
}

.skeleton {
  opacity: 0.9;
  animation: skeleton-loading 1s ease-in-out infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(260, 90, 66);
  }

  100% {
    background-color: hsl(240, 1%, 17%);
  }
}
