@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.search__modal {
  margin: 0;
  margin-left: vars.$sidebar-width;
  &__body {
    @include mix.flexArea(row, center, space-evenly);
    margin: 0;
    padding: vars.$spacing-atomic-x;
    background-color: vars.$color-gray-dark;

    &__card {
      border: none;
      margin: 0;
      padding: 0;
      transition: transform 0.4s ease-in-out;
      text-align: center;

      &__img {
        height: vars.$spacing-large;
        width: 100%;
      }

      &__title {
        @include mix.text(vars.$color-white, vars.$text-size-micro-x, vars.$text-weight-bold, vars.$text-size-micro-x);
      }

      &__wrapper {
        padding: 0;
        margin: 0;
        justify-content: center;
        display: flex;

        @media (max-width: 1000px) {
          margin-left: 0;
        }
      }
    }
  }

  &__header {
    background-color: vars.$color-gray-dark;

    &__title {
      color: vars.$color-white;
    }
  }
}

.modal {
  top: vars.$spacing-micro-xx;
  height: 93%;
}

.modal-backdrop.fade.show {
  z-index: 1;
}
// .modal-dialog {
//   margin: 0 !important;
//   margin-left: 50% !important;
// }
