@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.home-cards {
  &__title {
    @include mix.text(vars.$color-white, vars.$text-size-small-x, bold, vars.$spacing-xxx-atomic);
  }

  &__more {
    color: vars.$color-neon-blue;
  }

  &__wrapper {
    @include mix.gridArea(
      column,
      vars.$spacing-x-atomic,
      vars.$spacing-large-x,
      vars.$spacing-large-x,
      vars.$spacing-xxx-atomic
    );
    overflow-x: scroll;
    padding: vars.$spacing-xx-atomic;

    &:before,
    &:after {
      content: '';
      width: vars.$spacing-x-atomic;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px vars.$color-transparent-1;
      box-shadow: inset 0 0 2px vars.$color-transparent-1;
      border-radius: vars.$spacing-xx-atomic;
    }

    &::-webkit-scrollbar {
      height: vars.$spacing-xx-atomic;
    }

    &::-webkit-scrollbar-thumb {
      background-color: vars.$color-silver;
      border-radius: vars.$spacing-xx-atomic;
    }
  }
}
