@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.sidebar {
  @include mix.area(flex, fixed, vars.$width-small, 100vh, 0, 0, vars.$color-gray);
  z-index: 1;

  &__title {
    @include mix.text(vars.$color-neon-blue, vars.$spacing-atomic-xx, bold, vars.$spacing-x-atomic);
    padding: vars.$spacing-atomic-xxx;
  }

  &__item {
    color: vars.$color-silver;
    width: 100%;
    padding: vars.$spacing-xxx-atomic;

    &:hover {
      background-color: vars.$color-gray-light;
      width: 100%;
    }

    &__link:hover {
      color: vars.$color-neon-blue;
    }

    &__icon {
      margin-right: vars.$spacing-atomic;
    }
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    @include mix.area(flex, fixed, vars.$spacing-x-small, 100vh, 0, 0, vars.$color-gray);
    padding-top: vars.$spacing-x-medium;

    &__title {
      display: none;
    }

    &__item {
      &__icon {
        margin: 0 vars.$spacing-xx-atomic;
      }
      &__text {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }
}

.hide {
  display: none;
}
