@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.sidebar {
  // @include mix.area(flex, fixed, vars.$width-small, 100vh, 0, 0, vars.$color-gray);
  z-index: 1;

  &__title {
    @include mix.text(vars.$color-neon-blue, vars.$spacing-atomic-xx, bold, vars.$spacing-x-atomic);
    padding: vars.$spacing-atomic-xxx;
  }

  &__item {
    color: white;
    width: 100%;
    padding: vars.$spacing-xxx-atomic;

    &:hover {
      background-color: vars.$color-gray-light;
      width: 100%;
    }

    &__link:hover {
      color: vars.$color-neon-blue;
    }

    &__icon {
      margin-right: vars.$spacing-atomic;
      color: vars.$color-neon-blue;
    }
  }
}

.hide {
  display: none;
}

.MuiDrawer-paper {
  background-color: #222222 !important;
}
.MuiDrawer-paperAnchorDockedLeft {
  border: none !important;
}
