@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.reset {
  @include mix.area(block, absolute, 100%, 100%, vars.$spacing-atomic 0, 0, vars.$color-gray);
  @include mix.flexArea(column, center, center);

  &__title {
    @include mix.text(vars.$color-silver, vars.$text-size-x-large, vars.$text-weight-bold, vars.$spacing-atomic-x);
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  &__row {
    @include mix.flexArea(column, center, center);
    margin: vars.$spacing-atomic-xxx 0;
    width: 100%;
  }

  &__submit {
    background-color: vars.$color-red-light;
    color: vars.$color-black;
    font-weight: vars.$text-weight-bold;
    border: none;
  }

  &__submit:focus {
    background-color: vars.$color-red-light;
    outline: none;
  }

  &__submit:hover {
    color: vars.$color-black;
  }

  &__message {
    @include mix.text(vars.$color-silver, vars.$text-size-micro-x, vars.$text-weight-light, vars.$spacing-atomic-x);
  }
}
