@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.source {
  padding: 0;
  width: auto;
  @include mix.mainContent(auto, 0, vars.$color-gray-dark, vars.$spacing-x-small);

  &__wrapper {
    width: auto;
  }

  &__banner {
    height: vars.$width-medium;
    margin: 0;
    @include mix.flexArea(row, flex-end, flex-start);

    @media (max-width: 576px) {
      align-items: center;
      justify-content: space-between;
    }

    &__overlay {
      background-color: vars.$color-transparent-2;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 0;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    &__background {
      left: 0;
      top: vars.$spacing-micro-x;
      z-index: 0;
      width: 100%;
      height: vars.$width-medium;
      object-fit: cover;
      padding: 0;
      position: absolute;
    }

    &__content {
      @include mix.flexArea(row, flex-start, flex-start);
      z-index: 2;
      padding: 0 vars.$spacing-atomic vars.$spacing-atomic;
      position: relative;
      width: auto;
      bottom: calc(#{vars.$width-small}/ 2);
      left: 10px;

      @media (max-width: 700px) {
        left: 0;
        right: 0;
        min-width: 100vw;
      }

      &__img {
        width: 100%; //vars.$width-small;
        height: 200px; //vars.$width-small;
        object-fit: cover;
        object-position: center;
        padding: 0;

        // @media (max-width: 767px) {
        //   width: vars.$spacing-large-increased;
        //   height: vars.$spacing-large-increased;
        // }

        // @media (max-width: 424px) {
        //   width: vars.$spacing-small-increased;
        //   height: vars.$spacing-large-increased;
        // }
      }

      &__controls {
        //@include mix.flexArea(column, flex-start, flex-start);
        //margin-left: vars.$spacing-atomic;
        height: 200px;

        &__title {
          @include mix.text(vars.$color-white, vars.$text-size-small, vars.$text-weight-bold, vars.$text-size-small);

          @media (max-width: 576px) {
            font-size: vars.$text-size-micro;
          }
        }

        &__subtitle {
          @include mix.text(vars.$color-white, vars.$text-size-small, vars.$text-weight-bold, vars.$text-size-small);

          @media (max-width: 576px) {
            font-size: vars.$text-size-micro;
          }
        }

        &__link {
          @include mix.text(vars.$color-white, vars.$text-size-x-micro, vars.$text-weight-bold, vars.$text-size-small);
          background-color: vars.$color-neon-blue;
          border-radius: 0;
          outline: none;
          border: none;
        }

        // &__link:hover {
        //   color: vars.$color-black;
        // }

        &__dropdown {
          background-color: vars.$color-gray-light;

          &__item {
            @include mix.text(
              vars.$color-black,
              vars.$text-size-x-micro,
              vars.$text-weight-bold,
              vars.$text-size-small
            );

            transition: all 0.3s ease-in-out;
          }

          &__item:hover {
            background-color: vars.$color-gray-dark;
            color: vars.$color-white;
          }
        }
      }

      @media (max-width: 767px) {
        padding-right: 0;
        align-items: flex-end;
      }
    }
  }

  &__eposides {
    &__heading {
      @include mix.text(vars.$color-neon-blue, vars.$text-size-medium, vars.$text-weight-bold, vars.$text-size-medium);
      justify-content: center;
    }

    &__eposide {
      &__title {
        @include mix.text(vars.$color-white, vars.$text-size-x-small, vars.$text-weight-light, vars.$text-size-x-small);
      }

      &__link {
        @include mix.text(vars.$color-white, vars.$text-size-x-small, vars.$text-weight-light, vars.$text-size-x-small);
      }

      &__link:hover {
        color: vars.$color-neon-blue;
      }
    }
    &__load {
      width: 100%;
      display: flex;
      padding: vars.$spacing-atomic;

      &__btn {
        margin: auto;
        background-color: vars.$color-gray-light;
        color: vars.$color-white;
      }
    }
  }
}
