@import './styles/_variables.scss';

.contain {
  margin: auto 0;
  background: $color-gray-dark;
  min-height: 100vh;

  .sidebar,
  .main {
    padding: $spacing-x-atomic;
  }
  .sidebar {
    min-width: $width-small;
    min-height: 100vh;
    color: $color-white;
    border-right: 2px solid $color-gray-light;
    float: left;
  }
}
