@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.info {
  @include mix.area(block, unset, 100%, 100%, 0, 0, vars.$color-gray);

  &__banner {
    height: vars.$width-medium;
    @include mix.flexArea(row, flex-end, flex-start);

    &__overlay {
      background-color: vars.$color-transparent-2;
      width: 100%;
      height: 100%;
      position: absolute;
      padding: 0;
      z-index: 1;
    }

    &__background {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: vars.$width-medium;
      object-fit: cover;
      padding: 0;
    }

    &__content {
      @include mix.flexArea(row, flex-start, flex-start);
      z-index: 1;
      padding: 0 vars.$spacing-atomic vars.$spacing-atomic;

      &__img {
        width: vars.$width-small;
        height: vars.$width-small;
        object-fit: cover;
        object-position: center;
      }

      &__controls {
        @include mix.flexArea(column, flex-start, flex-start);
        margin-left: vars.$spacing-atomic;
        height: 100%;

        &__title {
          @include mix.text(vars.$color-white, vars.$text-size-small, vars.$text-weight-bold, vars.$text-size-small);
        }
        &__subtitle {
          @include mix.text(vars.$color-white, vars.$text-size-small, vars.$text-weight-bold, vars.$text-size-small);
        }
        &__link {
          color: vars.$color-white;
        }
      }
    }
  }

  &__details {
    &__title {
      @include mix.text(vars.$color-white, vars.$text-size-small, vars.$text-weight-bold, vars.$text-size-small);
      margin: vars.$spacing-atomic-x 0;
    }

    &__row {
      margin: 0 vars.$spacing-atomic-x;
      @include mix.flexArea(row, center, space-between);

      &__key {
        @include mix.text(vars.$color-silver, vars.$text-size-micro, vars.$text-weight-light, vars.$text-size-small);
      }

      &__value {
        @include mix.text(vars.$color-silver, vars.$text-size-micro, vars.$text-weight-light, vars.$text-size-small);
        text-align: end;
      }
    }
  }
}
