@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.card {
  @include mix.area(
    flex,
    static,
    vars.$spacing-large-increased-x,
    vars.$library-card-height,
    vars.$spacing-xx-atomic,
    vars.$spacing-xxx-atomic,
    vars.$color-gray
  );
  color: vars.$color-white;
  overflow: hidden;

  &:hover {
    background-color: vars.$color-gray-light;
  }

  &__img {
    border-radius: vars.$spacing-xx-atomic;
    height: vars.$spacing-large;
    width: 100%;
  }

  &__eposide {
    @include mix.area(inline-block, absolute, auto, vars.$spacing-atomic-xx, 0, 0, vars.$color-gray-light);
    left: vars.$spacing-micro;
    top: vars.$spacing-medium-xx;
    border-radius: vars.$spacing-xx-atomic;
  }

  &__txt {
    padding: vars.$spacing-xxx-atomic;
  }
}
